html,
body {
  margin: 0;
  padding: 0;
  background: gray;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
}

.main-container {
  width: 375px;
  margin: 0 auto;
  border: 5px solid lightgray;
  background: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#logo {
  height: 40px;
  width: 127px;
}

#user-avatar-img,
#artist-avatar-img {
  height: 34px;
  width: 34px;
  border-radius: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

#artist-img {
  height: 375px;
  width: 375px;
}

.icons {
  height: 23px;
  width: 23px;
}

.font-bold {
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c6c6c6;
}

#artist-info {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#icons {
  display: flex;
  gap: 5px;
  margin: 15px 0 15px 10px;
}

#likes-comments {
  margin: 15px 0 15px 10px;
}

.icons:hover {
  opacity: 0.5;
}

#heart-icon {
  cursor: pointer;
}
